{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center"
  >These are the Network Traffic Analysis Observations:</h1
>
<div class="container-fluid">
  <!-- 1st Headings Row -->
  <div class="row">
    <div class="col-8">
      <h2 class="text-center">Protocol Distribution</h2>
    </div>
    <div class="col"> <h2 class="text-center">Bandwidth Utilization</h2> </div>
  </div>
  <!-- 1st Charts Row -->
  <div class="row">
    <div class="col"> <img class="img-fluid" src="#" /> </div>
    <div class="col"> <img class="img-fluid" src="#" /> </div>
    <div class="col"> <img class="img-fluid" src="#" /> </div>
  </div>
  <!-- 2nd Headings Row -->
  <div class="row">
    <h2 class="text-center">Conversations</h2>
    {{conversations}}
  </div>
  <!-- Conversations Image Row -->
  <div class="row">
    <img class="img-fluid" src="#" />
  </div>
  <!-- Conversations Details Row -->
  <div class="row">
    <div class="col"> </div>
  </div>
  <!-- IP Geolocation Mapping Row -->
  <div class="row"> </div>
  <!-- TCP Stream Row -->
  <div class="row"> </div>
</div>
{%endblock %}
