{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center p-4"
  >These are the Network Traffic Analysis Observations:</h1
>
<div class="container-fluid">
  <!-- 1st Headings Row -->
  <div class="row">
    <div class="col-8">
      <h2 class="text-center p-2">Protocol Distribution</h2>
    </div>
    <div class="col">
      <h2 class="text-center p-2">Bandwidth Utilization</h2>
    </div>
  </div>
  <!-- 1st Charts Row -->
  <div class="row">
    <div class="col-4">
      <div class="shadow">
        {% if proto_graph_bar %} {{ proto_graph_bar|safe }} {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </div>
      <figcaption class="figure-caption text-center"
        ><em
          ><u>Bar</u> chart depicting number of occurences per protocol.</em
        ></figcaption
      >
    </div>
    <div class="col-4">
      <div class="shadow">
        {% if proto_graph_pie %} {{ proto_graph_pie|safe }} {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </div>
      <figcaption class="figure-caption text-center"
        ><em
          ><u>Pie</u> chart depicting number of occurences per protocol.</em
        ></figcaption
      >
    </div>
    <div class="col-4">
      <div class="shadow">
        {% if band_util_hbar %} {{ band_util_hbar|safe }} {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </div>
      <figcaption class="figure-caption text-center"
        ><em
          ><u>Horizontal histogram</u> depicting the top 10 IP addresses by
          bytes transferred.</em
        ></figcaption
      >
    </div>
  </div>
  <hr class="my-5" />
  <!-- 2nd Headings Row -->
  <div class="row">
    <h2 class="text-center p-2">Overall Network Bandwidth Utilization</h2>
  </div>
  <!-- Whole Bandwidth Util. Image Row -->
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <div class="shadow">
        {% if band_util_tseries %} {{ band_util_tseries|safe }} {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </div>
      <figcaption class="figure-caption text-center"
        ><em
          ><u>Timeseries chart</u> depicting the overall bandwidth utilization
          per time instance.</em
        ></figcaption
      >
    </div>
    <div class="col-3"></div>
  </div>
  <hr class="my-5" />
  <!-- 3rd Headings Row -->
  <div class="row">
    <h2 class="text-center p-2">Conversations</h2>
  </div>
  <!-- Conversations Image Row -->
  <div class="row">
    <img class="img-fluid" src="#" />
  </div>
  <!-- Conversations Details Row -->
  <div class="row">
    <div class="col px-5">
      <table id="conversations-table" class="table">
        <thead class="sticky-top">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Protocol</th>
            <th scope="col">Packets</th>
            <th scope="col">Bytes</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          {% for k, conv in conversations.items %}
          <tr class="table-light">
            <th scope="row">{{k}}</th>
            <td>{{conv.src_ip}}:<strong>{{conv.src_port}}</strong></td>
            <td>{{conv.dst_ip}}:<strong>{{conv.dst_port}}</strong></td>
            <td>{{conv.proto}}</td>
            <td>{{conv.packets}}</td>
            <td>{{conv.bytes}}</td>
            <td>{{conv.duration}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr class="my-5" />
  <!-- IP Geolocation Heading Mapping Row -->
  <div class="row">
    <h2 class="text-center p-2">IP Geolocation</h2>
  </div>
  <!-- IP Geolocation MAP-->
  <div class="row">
    <div class="container rounded"> <div id="map"></div></div>
  </div>
</div>
{%endblock %}
