{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center p-4"
  >These are the Network Traffic Analysis Observations:</h1
>
<div class="container-fluid">
  <!-- 1st Headings Row -->
  <div class="row">
    <div class="col-8">
      <h2 class="text-center p-2">Protocol Distribution</h2>
    </div>
    <div class="col">
      <h2 class="text-center p-2">Bandwidth Utilization</h2>
    </div>
  </div>
  <!-- 1st Charts Row -->
  <div class="row">
    <div class="col">
      <figure class="figure">
        <img
          src="../../../media/images/proto_dirb_bar.png"
          class="figure-img img-fluid rounded shadow"
          alt="..."
        />
        <figcaption class="figure-caption text-center"
          ><em
            ><u>Bar</u> chart depicting number of occurences per protocol.</em
          ></figcaption
        >
      </figure>
    </div>
    <div class="col">
      <figure class="figure">
        <img
          src="../../../media/images/proto_dirb_pie.png"
          class="figure-img img-fluid rounded shadow"
          alt="..."
        />
        <figcaption class="figure-caption text-center"
          ><em
            ><u>Pie</u> chart depicting number of occurences per protocol.</em
          ></figcaption
        >
      </figure>
    </div>
    <div class="vr p-0"></div>
    <div class="col"
      ><figure class="figure">
        <img
          src="../../../media/images/band_util_hbar.png"
          class="figure-img img-fluid rounded shadow"
          alt="..."
        />
        <figcaption class="figure-caption text-center"
          ><em
            ><u>Horizontal histogram</u> depicting the top 10 IP addresses by
            bytes transferred.</em
          ></figcaption
        >
      </figure>
    </div>
  </div>
  <hr class="my-5" />
  <!-- 2nd Headings Row -->
  <div class="row">
    <h2 class="text-center p-2">Overall Network Bandwidth Utilization</h2>
  </div>
  <!-- Whole Bandwidth Util. Image Row -->
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <figure class="figure">
        <img
          src="../../../media/images/band_util_tseries.png"
          class="figure-img img-fluid rounded shadow"
          alt="..."
        />
        <figcaption class="figure-caption text-center"
          ><em
            ><u>Timeseries chart</u> depicting the overall bandwidth utilization
            per time instance.</em
          ></figcaption
        >
      </figure>
    </div>
    <div class="col-3"></div>
  </div>
  <hr class="my-5" />
  <!-- 3rd Headings Row -->
  <div class="row">
    <h2 class="text-center p-2">Conversations</h2>
  </div>
  <!-- Conversations Image Row -->
  <div class="row">
    <img class="img-fluid" src="#" />
  </div>
  <!-- Conversations Details Row -->
  <div class="row">
    <div class="col px-5">
      <div class="table-container">
        <table
          id="conversations-table"
          class="table table-dark table-container"
        >
          <thead class="sticky-top">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Source</th>
              <th scope="col">Destination</th>
              <th scope="col">Protocol</th>
              <th scope="col">Packets</th>
              <th scope="col">Bytes</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody>
            {% for k, conv in conversations.items %}
            <tr class="table-light">
              <th scope="row">{{k}}</th>
              <td>{{conv.pair.0}}</td>
              <td>{{conv.pair.1}}</td>
              <td>{{conv.proto}}</td>
              <td>{{conv.packets}}</td>
              <td>{{conv.bytes}}</td>
              <td>{{conv.duration}} ms</td>
            </tr>
            {% endfor %}
          </tbody>
        </table></div
      >
    </div>
  </div>
  <hr class="my-5" />
  <!-- IP Geolocation Mapping Row -->
  <div class="row">
    <h2 class="text-center p-2">IP Geolocation</h2>
  </div>
  <hr class="my-5" />
  <!-- TCP Stream Row -->
  <div class="row"> </div>
</div>
{%endblock %}
