{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center">These are the Anomalies observed:</h1>
<div class="container-fluid">
  <!-- 1st Headings Row -->
  <div class="row">
    <div class="col-4">
      <h2 class="text-center p-2">Insecure Services</h2>
    </div>
    <div class="col-4">
      <h2 class="text-center p-2">Malicious Domains</h2>
    </div>
    <div class="col-4">
      <h2 class="text-center p-2">Malicious IPs</h2>
    </div>
  </div>
  <div class="row">
    <!-- Vulnerable Services -->
    <div class="col-4 text-center vertical-separation">
      {% if not vuln_services %}
      <p>No vulnerable services detected.</p>
      {% else %} {% for service, socket_pairs in vuln_services.items %}

      <button
        class="btn service-btn my-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{service}}"
        aria-expanded="false"
        aria-controls="{{service}}"
        >{{service.upper}}</button
      >
      {% endfor %} {% for service, socket_pairs in vuln_services.items %}
      <div class="card collapse overflow-auto text-start" id="{{service}}">
        {% for sockets in socket_pairs %}
        <li class="list-group-item">{{sockets}}</li>
        {% endfor %}
        <a href="#">More Details</a>
      </div>
      {% endfor %} {% endif %}
    </div>
    <!-- Malicious Domains -->
    <div class="col-4 vertical-separation">
      {% if not sus_dom_entries %}
      <p>No malicious domains detected.</p>
      {% else %}
      <div class="card overflow-auto">
        {% for entry in sus_dom_entries %}
        <li class="list-group-item m-3"
          >Src. IP: <u>{{entry.src_ip}}</u> --&gt; Dst. IP:
          <u>{{entry.dst_ip}}</u>, Malicious Domain:
          <strong style="color: #ff1144">{{entry.domain_name}}</strong></li
        >
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Malicious IPs -->
    <div class="col-4">
      {% if not sus_ip_entries %}
      <p>No Malcious IP addresses detected.</p>
      {% else %}
      <div class="card overflow-auto">
        {% for entry in sus_ip_entries %}
        <li class="list-group-item m-3"
          >Src. IP: <u>{{entry.src_ip}}</u
          ><strong>{{entry.src_port}}</strong> --&gt; Dst. IP:
          <u>{{entry.dst_ip}}</u><strong>{{entry.dst_port}}</strong>, Malicious
          Domain: <strong style="color: #ff1144">{{entry.mal_ip}}</strong></li
        >
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <hr class="my-5" />
</div>
{% endblock %}
