{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center m-3">These are the Anomalies observed:</h1>
<div class="container-fluid">
  <!-- 1st Headings Row -->
  <div class="row">
    <div class="col-4">
      <h2 class="text-center p-2">Insecure Services</h2>
    </div>
    <div class="col-4">
      <h2 class="text-center p-2">Malicious Domains</h2>
    </div>
    <div class="col-4">
      <h2 class="text-center p-2">Malicious IPs</h2>
    </div>
  </div>
  <div class="row">
    <!-- Vulnerable Services -->
    <div class="col-4 text-center vertical-separation">
      {% if not vuln_services %}
      <h4 class="positive-results">No vulnerable services detected.</h4>
      {% else %} {% for service, entry_lst in vuln_services.items %}

      <button
        class="btn service-btn my-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{service}}"
        aria-expanded="false"
        aria-controls="{{service}}"
        >{{service.upper}}</button
      >
      {% endfor %} {% for service, entry_lst in vuln_services.items %}
      <div class="card collapse overflow-auto text-start" id="{{service}}">
        {% for entry in entry_lst %}
        <li class="list-group-item">Src. IP: <u>{{entry.src_ip}}</u>:<strong>{{entry.src_port}}</strong> --&gt; Dst. IP:
          <u>{{entry.dst_ip}}</u>:<strong>{{entry.dst_port}}</strong></li
        > {{entry.date_time}}</li>
        {% endfor %}
        <a href="https://www.speedguide.net/port.php?port={{entry_lst.0.dst_port}}">More Details</a>
      </div>
      {% endfor %} {% endif %}
    </div>
    <!-- Malicious Domains -->
    <div class="col-4 vertical-separation">
      {% if not sus_dom_entries %}
      <h4 class="positive-results">No malicious domains detected.</h4>
      {% else %}
      <div class="card overflow-auto">
        {% for entry in sus_dom_entries %}
        <li class="list-group-item m-3"
          >Src. IP: <u>{{entry.src_ip}}</u> --&gt; Dst. IP:
          <u>{{entry.dst_ip}}</u><br>Malicious Domain:
          <strong style="color: #ff1144">{{entry.domain_name}}</strong></li
        >
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- Malicious IPs -->
    <div class="col-4">
      {% if not sus_ip_entries %}
      <h4 class="positive-results">No Malcious IP addresses detected.</h4>
      {% else %}
      <div class="card overflow-auto">
        {% for entry in sus_ip_entries %}
        <li class="list-group-item m-3"
          >Src. IP: <u>{{entry.src_ip}}</u
          ><strong>{{entry.src_port}}</strong> --&gt; Dst. IP:
          <u>{{entry.dst_ip}}</u><strong>{{entry.dst_port}}</strong> <br>Malicious
          IP: <strong style="color: #ff1144">{{entry.mal_ip}}</strong></li
        >
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <hr class="my-5" />
  <!-- 2nd Headings Row -->
  <div class="row">
    <div class="col-8">
      <h2 class="text-center p-2">DDoS and DoS Alerts</h2>
    </div>
  </div>
  <!-- DoS Attacks -->
  <div class="row">
    <div class="col-8 vertical-separation">
      {% if not dos_alerts %}
      <h4 class="positive-results">No DoS/DDoS attempts detected.</h4>
      {% else %} 
      <div class="container-fluid" id="dos-alerts-cont">
        {% for alert in dos_alerts %}
        <ul class="list-group d-inline-block m-2" id="dos-alerts">
          <li class="list-group-item text-center" style="color:rgb(192, 16, 16)"><strong>{{alert.type}}</strong></li>
          <li class="list-group-item">Src. IP:<strong> {{alert.src_ip}}</strong></li>
          <li class="list-group-item">Targeted IP:<strong> {{alert.dst_ip}}</strong>{% if alert.dst_ports %} Targeted port: <strong>{{alert.dst_ports.0}}</strong>{% endif %}</li>
          <li class="list-group-item">Time:<strong> {{alert.start_time}}</strong></li>
          {% if alert.count %}<li class="list-group-item">Num of packets: <strong>{{alert.count}}</strong></li>{% endif %}
          {% if alert.size %}<li class="list-group-item">Size of packet: <strong>{{alert.size}}</strong> bytes</li>{% endif %}
        </ul>
          {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <h5>The list on the left depicts all the potenital Distributed Denial of Service attacks detected withing the supplied capture file.</h5><br>
      
      <div class="row mt-3 justify-content-center">
        <div class="col-8">
          <h5>Detection includes the following types of attacks:          
            <ol class="list-group list-group-numbered text-center mt-2">
              <li class="list-group-item"><strong>P</strong>ing <strong>o</strong>f <strong>D</strong>eath</li>
              <li class="list-group-item"><strong>ICMP</strong> Flood</li>
              <li class="list-group-item"><strong>UDP</strong> Flood</li>
              <li class="list-group-item"><strong>SYN</strong> Flood</li>
              <li class="list-group-item"><strong>HTTP</strong> Flood</li>
            </ol>
          </h5>
        </div>
      </div>
        
      <div class="row mt-3 justify-content-center">
        <div class="col-8">
          <h5>The Threshold values considered during analysis are the following: 
            <ol class="list-group list-group-numbered text-center mt-2">
            <li class="list-group-item"><strong>Time</strong> Threshold: <u>{{dos_time_thres}}</u> sec</li>
            <li class="list-group-item"><strong>Packet</strong> Threshold: <strong>&gt;</strong> <u>{{dos_pkt_thres}}</u></li>
          </ol>
        </h5>
        </div>
      </div>
      
        
    </div>
  </div>
  <hr class="my-5" />
  <!-- 3rd Headings Row -->
  <div class="row">
    <div class="col-6">
      <h2 class="text-center p-2">Port Scanning Attempts</h2>
    </div>
    <div class="col-6">
      <h2 class="text-center p-2">Domain Generation Algorithm(DGA) Detection</h2>
    </div>
  </div>
  <!-- Port Scans -->
  <div class="row">
    <div class="col-6 vertical-separation">
      <h5>The following blocks depict any potenital Port Scans which took place within the supplied capture file.</h5>
      {% if not scan_alerts %}
      <h4 class="positive-results">No port scans detected.</h4>
      {% else %} 
      <div class="container-fluid" id="dos-alerts-cont">
        {% for alert in scan_alerts %}
        <ul class="list-group d-inline-block m-2" id="dos-alerts">
          <li class="list-group-item">Src. IP:<strong> {{alert.src_ip}}</strong></li>
          <li class="list-group-item">Targeted IP:<strong> {{alert.dst_ip}}</strong></li>
          <li class="list-group-item">Time:<strong> {{alert.start_time}}</strong></li>
          <li class="list-group-item">
            Ports Scanned: 
            {% with alert.dst_ports|length as num_of_ports %}
              <strong>{{ num_of_ports }}</strong>
              <button class="btn service-btn mx-3 port-btn" type="button">
                Show 
                <img
                src="{% static 'svgIcons/caret-up.svg' %}"
                alt="collapse-caret"
                width="30"
                height="24"
                class="d-inline-block align-text-top svg filter-white"
                />
              </button>
            {% endwith %}
            <div class="container-fluid hide m-2">
              {% for port in alert.dst_ports %} 
                <u>{{port}}</u>,
              {%endfor%}
            </div>
          </li>
        </ul>
        {% endfor %}
      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-6 text-center">
          <h5>The Threshold values considered during analysis are the following: </h5>

          <ol class="list-group list-group-numbered mt-2">
            <li class="list-group-item"><strong>Time</strong> Threshold: <u>{{scan_time_thres}} sec</u></li>
            <li class="list-group-item"><strong>Port</strong> Threshold: <u> &gt; {{scan_port_thres}}</u></li>
          </ol>
        </div>
      </div>
      {% endif %}
    </div>

  <!-- DGA Detection -->
    <div class="col-6 vertical-separation">
      <h5>The following entries depict any potenital DGA implementations within the supplied capture file.</h5>
      {% if not dga_alerts %}
      <h4 class="positive-results">No DGA implementations detected.</h4>
      {% else %} 
      <ul class="list-group d-inline-block m-2" >
        {% for ip, count in dga_alerts.items %}
        <li class="list-group-item">Suspicious IP:<strong> {{ip}}</strong> | NXDOMAIN Occurrences: <strong>{{count}}</strong></li>
        {% endfor %}
      </ul>
      <div class="row mt-4 justify-content-center">
        <div class="col-6 text-center">
          <h5>The Threshold value considered during analysis is the following: </h5>

          <ul class="list-group mt-2">
            <li class="list-group-item"><strong>Non Existent Domain error(NXDOMAIN)</strong> Threshold: &gt;<u> {{nxdomain_thres}}</u></li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <hr class="my-5" />
  <!-- 4th Headings Row -->
  <div class="row">
    <div class="col">
      <h2 class="text-center p-2">HTTP Inspection</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3 class="text-center">Packets</h3>
    </div>
    <div class="col-8">
      <h3 class="text-center">Details</h3>
    </div>
  </div>
  <!-- HTTP Inspection -->
  <div class="row">
    <div class="col-4 vertical-separation">
      <ul class="list-group http-pkts shadow">
        {% for id, entry in http_entries.items %}
          <li class="list-group-item">
            <strong>{{forloop.counter}}.</strong>
            <button
            class="btn http-btn my-1 shadow"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#http-{{forloop.counter}}"
            aria-expanded="false"
            aria-controls="http-{{forloop.counter}}"
            > {{id}}</button
          >
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-8">
      {% for id, entry in http_entries.items %}
        <ul class="list-group http-details collapse shadow my-1" id="http-{{forloop.counter}}">
          <li class="list-group-item"><strong>PACKET: </strong>{{id}}</li>
          <!-- Get the info -->
          {% for key, val in entry.info.items %}
            <li class="list-group-item"><strong>{{key.upper}}: </strong>{{val}}</li>
          {% endfor %}
          <!-- Get malicious details -->
          {% for key, val in entry.mal.items %}
            {% if val %}
              {% if key == "agent" %}
                <li class="list-group-item" style="color:red">
                  <strong>User-Agent: </strong>
                  <ul class="list-group d-inline-block">
                    {% for k, v in val.items %}
                      <li class="list-group-item"><strong>{{k}}: </strong>{{v}}</li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="list-group-item" style="color:red"><strong>{{key.upper}}: </strong>{{val}}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
  <hr class="my-5" />
</div>

{% endblock %}
