{% extends "analyzer/base.html" %} {% load static %} {% block body %}
<h1 class="text-center p-4">Welcome to SecureFlow Analyzer!</h1>

<!-- TODO: Add progress bar will uploading file -->
<div class="container mt-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Choose a file -->
    <div class="mb-3">
      <label for="{{form.pcap_file.id_for_label}}" class="form-label"
        >{{form.pcap_file.label}}</label
      >
      <input
        type="file"
        name="{{ form.pcap_file.name }}"
        class="form-control"
        id="{{ form.pcap_file.id_for_label }}"
      />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-dark">Upload</button>
    </div>
  </form>
</div>
{% endblock %}
