/* HEX Codes:
#EDF4F2, #7C8363, #31473A
#f9ebee, #fbe3e8, boot-dark 
#CADCFC, #8AB6F9, #00246B
#DDDBDE, #CAD4DF, #656E77, #3B373B
#6372FA, #d5dbff, #4252a3*/

:root {
  /* nav */
  --nav_bg: #4252a3;
  --nav_text: #ffffff;
  /* body */
  --body_text: #1d2454;
  --body_bg: #d5dbff;
  /* footer */
  --footer_bg: #c1c8f9;
  --footer_text: #;
  /* table */
  --table_head_bg: #4252a3;
  --table_head_text: #ffffff;
  --table_body_bg: #cad7ff;
  --table_border: #aab8ff;
  /* paginations */
  --pag_bg: #aab8ff;
  --pag_text: #1d2454;
  --pag_pn_bg: #4252a3;
  --pag_pn_text: #ffffff;
  /* buttons */
  --btn: #4252a3;
  --btn_act: #aab8ff;
  --btn_border: #1d2454;
  /* Result Messages */
  --positive: #27ae60;
}

body {
  background-color: var(--body_bg);
  color: var(--body_text);
  font-family: Century Gothic;
  margin-bottom: 75px;
}

hr {
  border-color: var(--body_text);
}

.btn {
  background-color: var(--btn);
  color: #ffffff;
  border-color: var(--btn_border);
}

/* Navigation Bar Related */
.navbar-custom {
  background-color: var(--nav_bg);
}
.navbar-custom a {
  color: var(--nav_text);
}

.svg {
  width: 34px;
  height: 24px;
}
/* Changes the color of the SVG Icon/Logo */
.filter-white {
  filter: invert(100%) sepia(1%) saturate(7494%) hue-rotate(67deg)
    brightness(107%) contrast(99%);
}

/* Footer Bar Related */
.footer nav {
  background-color: var(--footer_bg);
}

/* Conversations Table */

#conversations-table thead th {
  background-color: var(--table_head_bg);
  color: var(--table_head_text);
  border-color: var(--table_border);
}

#conversations-table tbody tr td,
#conversations-table tbody tr th {
  background-color: var(--table_body_bg);
  border-color: var(--table_border);
}

#conversations-table_paginate .page-link {
  background-color: var(--pag_bg);
  color: var(--pag_text);
}
#conversations-table_paginate .active .page-link {
  background-color: var(--pag_pn_bg);
  border-color: var(--pag_pn_bg);
  color: var(--pag_pn_text);
}

.previous .page-link,
.next .page-link {
  background-color: var(--pag_pn_bg) !important;
  color: #ffffff !important;
}

/* TODO: Maybe make the left part of the footer bold, change the input color to a lighter shade of the bg color */

/* IP GEOLOCATION MAP */
#map {
  height: 750px;
  border-radius: 10px;
}

/* Vulnerable Services */
.positive-results {
  color: var(--positive);
  text-align: center;
}

.service-btn {
  background-color: var(--btn);
  color: #ffffff;
}

.service-btn.active {
  background-color: var(--btn_act);
  color: var(--body_text);
}

.card {
  background-color: var(--table_body_bg);
  border-color: var(--body_text);
  max-height: 250px;
}

.vertical-separation {
  border-right: 1px solid rgba(29, 36, 84, 0.5);
  padding-right: 15px;
}
/* Malicious Domains */

/* DDoS Alerts */
.custom-col-8-5 {
  width: 70.83%;
}
.custom-col-3-5 {
  width: 29.17%;
}
#dos-alerts-cont {
  max-height: 500px;
  overflow-y: auto;
}

#dos-alerts {
  border-style: solid;
  border-color: var(--body_text);
}

#dos-alerts li {
  background-color: var(--table_body_bg);
  border-style: none;
}

/* Port scans */
/* Use the same visual effects as service btn */

.hide {
  display: none;
}

#scan-ports {
  border-style: solid;
  border-color: var(--body_text);
  border-width: 2px;
}

/* HTTP Inspection */
.http-btn {
  background-color: var(--btn);
  color: #ffffff;
}

.http-btn.active {
  background-color: var(--btn_act);
  color: var(--body_text);
}

.http-pkts li {
  background-color: var(--table_body_bg);
}
