/* HEX Codes:
#EDF4F2, #7C8363, #31473A
#f9ebee, #fbe3e8, boot-dark 
#CADCFC, #8AB6F9, #00246B
#DDDBDE, #CAD4DF, #656E77, #3B373B
#6372FA, #d5dbff, #4252a3*/

body {
  background-color: #d5dbff;
  font-family: Century Gothic;
  margin-bottom: 75px;
}

/* Navigation Bar Related */
.navbar-custom {
  background-color: #4252a3;
}

.svg {
  width: 34px;
  height: 24px;
}
/* Changes the color of the SVG Icon/Logo */
.filter-white {
  filter: invert(100%) sepia(1%) saturate(7494%) hue-rotate(67deg)
    brightness(107%) contrast(99%);
}

/* Footer Bar Related */
.footer nav {
  background-color: #c1c8f9;
}

/* Conversations Table */
/* .table-container {
  max-height: 500px;
  overflow-y: auto;
} */
